# اختر المزود (local أو azure)
STORAGE_PROVIDER=local

# إعدادات لو اخترت local
LOCAL_STORAGE_PATH=local_storage

# إعدادات لو اخترت azure
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=...ضع_الكونكشن_سترينج_بتاعك...
AZURE_CONTAINER=my-container
